    <div class="col-lg-6">
<div class="service-item d-flex flex-column flex-sm-row bg-white rounded h-100 p-4 p-lg-5">

<div class="bg-icon flex-shrink-0 mb-3">
<i class="fa <%= service.icon %> fa-2x text-dark"></i>
</div>

<div class="ms-sm-4">
<h4 class="mb-3"><%= service.title %></h4>
<h6 class="mb-3">Start from <span class="text-primary"><%= service.price %></span></h6>
<span><%= service.description %></span>
</div>

</div>
</div>